.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.SearchResults {
    width: 50%;
    height: 50vh;
    padding: .88rem;
    overflow-y: scroll;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }

  .SearchResults p {
    color: rgba(194, 184, 224, 0.7);
  }


  .fixButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .addButton {
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(108, 65, 233, .7);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.addButton:hover {
    background-color: #9369b8;}



  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }